<h1>Tasks#new</h1>
<p>Find me in app/views/tasks/new.html.erb</p>
<h1>New Task for <%= @day.date.strftime("%B %d, %Y") %> at <%= @hour %>:00</h1>
<%= form_with(model: @task, local: true) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.hidden_field :day_id, value: @day.id %>
    <%= form.hidden_field :start_time, value: @day.date.to_datetime.change(hour: @hour) %>
    <%= form.hidden_field :end_time, value: @day.date.to_datetime.change(hour: @hour + 1) %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
